@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000;
  color: #fff;
}

#root {
  background-color: #000;
  min-height: 100%;
}

.message-box{
  scroll-behavior: smooth;
}
.message-box::-webkit-scrollbar{
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spinY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.group:hover .spin-on-hover {
  animation: spinY 1.5s linear infinite;
}